<% layout('layouts/boilerplate') %>
<%- include('../partials/navbar') %>
<div class="container mt-4">
  <div class="row g-4">
    <div class="col-md-6 offset-md-3">
      <h2>Edit Product</h2>
      <form action="/products/<%= foundProduct._id %>?_method=PATCH" method="POST">
        <div class="mb-3">
          <label for="name" class="form-label" value="<%= foundProduct.name %>">Product Name</label>
          <input type="text" class="form-control" id="name" name="name" value="<%= foundProduct.name %>" required>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Product Description</label>
          <textarea class="form-control" id="description" name="description" rows="3" required><%= foundProduct.description %></textarea>
        </div>
        <div class="mb-3">
          <label for="img" class="form-label">Product Image URL</label>
          <input type="text" class="form-control" id="img" name="img" value="<%= foundProduct.img %>" required>
        </div>
        <button type="submit" class="btn btn-primary">Edit Product</button>
      </form>
    </div>
  </div>
</div>