<% layout('layouts/boilerplate') %>
<%- include('../partials/navbar') %>
<div class="container mt-4">
  <div class="row g-4">
    <% products.forEach((product) => { %>
      <div class="col-md-4">
        <div class="card h-100" style="width: 18rem;">
          <img src="<%= product.img %>" class="card-img-top" alt="<%= product.name %>">
          <div class="card-body">
            <h5 class="card-title"><%= product.name %></h5>
            <p class="card-text"><%= product.description %></p>
            <a href="/products/<%= product._id %>" class="btn btn-primary">View Product</a>
            <form action="/products/<%= product._id %>?_method=DELETE" method="POST" class="d-inline">
              <button type="submit" class="btn btn-danger">Delete</button>
            </form>
          </div>
        </div>
      </div>
    <% }) %>
  </div>
</div>