<% layout('layouts/boilerplate') %>
<%- include('../partials/navbar') %>
<div class="container mt-4">
  <div class="row g-4">
        <div class="card h-100" style="width: 18rem;">
          <img src="<%= foundProduct.img %>" class="card-img-top" alt="<%= foundProduct.name %>">
          <div class="card-body">
            <h5 class="card-title"><%= foundProduct.name %></h5>
            <p class="card-text"><%= foundProduct.description %></p>
            <a href="/products/<%= foundProduct._id %>/edit" class="btn btn-primary">Edit Product</a>
              <a href="/products" class="btn btn-primary">Home</a>
              <a href="#" class="btn btn-secondary">Add to cart</a>
            <a href="#" class="btn btn-primary">Buy Now</a>
          </div>
        </div>
  </div>
</div>